<h3> hi </h3>

<%= @post.title %>

<%= @post.body %>

Tags:
<ul>
	<% @post.tags.each do |tag| %>
		<li><%= tag.name %>
		<%= button_to("Remove Tag", tag_url, method: :delete) %></li>
	<% end %>
</ul>

<%= link_to("Edit Post", edit_post_url(@post), method: :get) %>

Add Tag!
<form action='<%= tags_url %>' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<label>Tag Name
		<input type='text' name='tag[name]'>
	</label>
	<input type='hidden' name='tag[post_id]' value='<%= @post.id %>'>
	<br>
	<input type='submit' value='Add Tag'>
</form>