<h2><%= @sub.title %></h2>
<h3>Edit Post (Add More Cats (White Cats))</h3>
<form action="<%= sub_post_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= render "layouts/auth_token" %>
  
  <label>
    Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>
  <label>
    Content
    <input type="textarea" name="post[content]" value="<%=  @post.content %>">
  </label>
  <br>
  <input type="submit" value="Edit Post">
</form>