<h2><%= @sub.title %></h2>
<h3>Create New Post</h3>
<form action="<%= sub_posts_url %>" method="post">
  <%= render "layouts/auth_token" %>
  
 <label>
   Title
   <input type="text" name="post[title]" value="<%= @post.title %>">
 </label>
 <br>
 <label>
   Content
   <textarea rows="4" cols="50" name="post[content]" value="<%=  @post.content %>"></textarea>
 </label>
 <br>
  <input type="submit" value="Create Post">
</form>